<ng-include src="'views/sidenav.html'" ng-controller="SidenavCtrl"></ng-include>
<md-content class="main">
    <h2 class="main-header">Calendario</h2>
    <div layout="row" style="margin: 24px 36px !important">
        <div flex="50">
            <md-calendar ng-model="selectedDate" ng-change="changeDate(selectedDate)"></md-calendar>
        </div>
        <div flex="50">
            <md-card style="box-shadow:none; padding: 0px 20px; margin-left:36px">
                <md-card-title>
                    <h4>Fecha: {{currentDate}}</h4>
                </md-card-title>
            </md-card>
        </div>
    </div>
</md-content>

