<ng-include src="'views/sidenav.html'" ng-controller="SidenavCtrl" ng-if="userType === 0"></ng-include>
<md-content ng-class="{main: userType === 0}">
    <h2 class="main-header">Calendario</h2>
    <div layout="row" style="margin: 24px 36px !important">
        <div flex="60" ng-class="{'main-calendar': userType == 0, 'coach-calendar': userType == 1}">
            <md-calendar ng-model="selectedDate" ng-change="changeDate(selectedDate)"></md-calendar>
        </div>
        <div flex="40">
            <md-card style="box-shadow:none; padding: 0px 20px; margin-left:36px">
                <md-card-title>
                    <h4>Fecha: {{currentDate}}</h4>
                </md-card-title>
                <md-card-content>
                    <h4 ng-if="currentRoutines.length>0">Rutinas</h4>
                    <p ng-if="currentRoutines.length < 1">No hay rutinas asignadas a esta fecha.</p>
                    <div layout="row">
                        <div flex="100">
                            <md-list>
                                <md-list-item ng-repeat="routine in currentRoutines track by $index">
                                    {{routine.nombre}}
                                    <md-checkbox ng-if="userType === 0" ng-model="routine.terminado" ng-change="finishRoutine(routine, $index)" class="md-secondary"></md-checkbox>
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>
                    <h4 ng-if="currentCardio.length>0">Cardio</h4>
                    <p ng-if="currentCardio.length < 1">No hay ejercicios de cardio asignados a esta fecha.</p>
                    <div layout="row">
                        <div flex="100">
                            <md-list>
                                <md-list-item ng-repeat="cardio in currentCardio track by $index">
                                    {{cardio.tiempo}} minutos de {{mediums[cardio.maquina]}}
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>

