<ng-include src="'views/sidenav.html'" ng-controller="SidenavCtrl" ng-if="userType==0"></ng-include>
<md-content ng-class="{main: userType == 0, whitebg: userType==1}">
    <md-card layout="row" ng-class="{'card-det':userType==1}">
        <div flex="100">
            <md-card-title>
                <h3 ng-if="!isEditing">Rutina Nueva</h3>
                <h3 ng-if="isEditing">{{routine.nombre}}</h3>
            </md-card-title>
            <md-card-content>
                <div layout="row">
                    <div flex="20">
                        <md-select ng-model="selectedMuscle" class="formSelect md-no-underline" placeholder="Músculos" ng-change="getExercises(selectedMuscle)">
                            <md-option ng-repeat="muscle in muscles" value="{{muscle}}">
                                {{muscle}}
                            </md-option>
                        </md-select>
                    </div>
                    <div flex="40" style="padding-left:30px">
                        <h5>{{routineExercises.length}} Ejercicios seleccionados</h5>
                    </div>
                </div>
                <div layout="row" ng-if="selectedMuscle">
                    <div flex="100">
                        <md-subheader class="md-no-sticky">Ejercicios</md-subheader>
                        <md-list-item ng-repeat="exercise in exercises track by $index">
                            <input type="checkbox" style="margin-right: 30px" class="md-primary" ng-model="exercise.selected" ng-change="addExercise(exercise)"
                            />
                            <p>{{exercise.nombre}}</p>
                            <md-select ng-if="exercise.selected && exercise.medium != -1" style="width:200px; margin: 5" ng-model="exercise.medio" class="formSelect md-no-underline"
                                placeholder="Medio">
                                <md-option ng-repeat="medium in exercise.medium" value="{{mediums[medium]}}">
                                    {{mediums[medium]}}
                                </md-option>
                            </md-select>
                            <md-input-container md-no-float class="formInput" ng-if="exercise.selected && exercise.medium == -1" style="margin:5px; width:214px !important; height:32px !important; padding:0;">
                                <input style="border:none !important" ng-model="exercise.medio" placeholder="Medio">
                            </md-input-container>
                            <md-input-container md-no-float class="formInput" ng-if="exercise.selected" style="margin:5px; width:214px !important; height:32px !important; padding:0;">
                                <input type="number" style="border:none !important" ng-model="exercise.repeticiones" placeholder="Repeticiones">
                            </md-input-container>
                            <md-input-container md-no-float class="formInput" ng-if="exercise.selected" style="margin:5px; width:214px !important; height:32px !important; padding:0;">
                                <input type="number" style="border:none !important" ng-model="exercise.series" placeholder="Series">
                            </md-input-container>
                        </md-list-item>

                    </div>
                </div>
                <div layout="row" ng-if="!selectedMuscle">
                    <div flex="100">
                        <p>Selecciona un músculo para desplegar los ejercicios</p>
                    </div>
                </div>
                <div layout="row" ng-if="selectedMuscle">
                    <div flex="30">
                        <md-input-container md-no-float class="formInput">
                            <input style="border:none !important" ng-model="routine.nombre" name="name" placeholder="Nombre">
                        </md-input-container>
                    </div>
                    <div flex="30">
                        <md-datepicker ng-model="selectedDate" md-placeholder="Escoger fecha" ng-change="setDate(selectedDate)" md-open-on-focus></md-datepicker>
                    </div>
                    <div flex="30">
                        <p ng-repeat="date in routine.dates">{{date}}</p>
                    </div>
                </div>
            </md-card-content>
        </div>
    </md-card>
    <div layout="row" layout-align="end" style="margin-bottom: 20px">
        <div flex="15">
            <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar
            </md-button>
        </div>
        <div flex="15">
            <md-button ng-if="!isEditing" class="md-raised md-primary" ng-click="createRoutine()">Crear rutina
            </md-button>
            <md-button ng-if="isEditing" class="md-raised md-primary" ng-click="createRoutine()">Aceptar
            </md-button>
        </div>
    </div>
</md-content>