<ng-include src="'views/sidenav.html'" ng-controller="SidenavCtrl"></ng-include>
<md-content class="main">
    <md-card layout="row">
        <div flex="100">
            <md-card-title>
                <h3>Rutina Nueva</h3>
            </md-card-title>
            <md-card-content>
                <div layout="row">
                    <div flex="20">
                        <md-select ng-model="selectedMuscle" class="formSelect md-no-underline" placeholder="Músculos" ng-change="getExercises()">
                            <md-option ng-repeat="muscle in muscles" value="{{muscle}}">
                                {{muscle}}
                            </md-option>
                        </md-select>
                    </div>
                    <div flex="40" style="padding-left:30px">
                        <h5>N Ejercicios seleccionados</h5>
                    </div>
                </div>
                <div layout="row">
                    <div flex="100">
                        <md-subheader class="md-no-sticky">Ejercicios</md-subheader>
                        <md-list-item ng-repeat="exercise in exercises track by $index" ng-if="$index < exercises.length">
                            <p>Ejercicio {{ $index }} </p>
                            <md-checkbox class="md-primary" ng-model="selected"></md-checkbox>
                        </md-list-item>

                    </div>
                </div>
                <div layout="row">
                    <div flex="30">
                        <md-input-container md-no-float class="formInput">
                            <input style="border:none !important" ng-model="routine.name" name="name" placeholder="Nombre">
                        </md-input-container>
                    </div>
                    <div flex="30">
                        <md-input-container md-no-float class="formInput">
                            <input style="border:none !important" ng-model="routine.comments" name="comments" placeholder="Comentarios">
                        </md-input-container>
                    </div>
                </div>
            </md-card-content>
        </div>
    </md-card>
    <div layout="row" layout-align="end" style="margin-bottom: 20px">
        <div flex="15">
            <md-button class="md-raised md-primary" ng-click="cancel()">Cancelar
            </md-button>
        </div>
        <div flex="15">
            <md-button class="md-raised md-primary" ng-click="createRoutine()">Crear rutina
            </md-button>
        </div>
    </div>
</md-content>