#loginView{
    width: 100%;
    height: 100%;
    background: #EEE;
    position: fixed;
}


.view{
    min-height: 100%;
}

body, .view {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: hidden;
    background: #fff;
  }

  .loginContainer{
    max-width: 400px;
    margin-left:0;
    position: relative;
    top: 150px;
    left: 10%;
}

.loginForm{
    background:#EEE;
    width: 100%;
    padding: 60px;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .loginInput {
    height: 40px !important;
    background: #FFFFFF !important;
    border-radius: 5px !important;
    border: solid 1px #c2c2c2 !important;
    padding-left: 8px !important;
}

.loginTitle {
    font-size: 16px;
    color: #212529;
    margin: 0px;
    padding: 0px;
}

.request-btn{
    min-height: 25px !important;
    min-width: 75px !important;
    line-height: 27px !important;
    font-size: 12px !important;
}

.md-raised.md-primary:not([disabled]) {
    background-color: #84bd00!important;
}

md-toolbar .md-toolbar-tools h2{
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

.main{
    margin-left: 250px;
    background-color: #fff;
    height: 100%;
}

.main-header{
    margin: 30px;
    color: black;
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 10px;
}

hr {
    margin-top: 15px;
    border-color: #c2c2c2;
}
    
    .sideNav {
      background: #212529;
      height: 100vh;
      color:#fff;
      box-sizing: border-box;
      width: 250px;
      position: fixed;
    }

    .sideNav i {
        color:#fff !important;
    }
    
    #sideNav {
      height:100vh !important;
      box-sizing: border-box;
    }
    
    .menu-option {
        margin: 10px 10px;
        border-radius: 3px;
        cursor: pointer;
        outline: 0px;
    }

    .menu-option .md-button:not([disabled]):hover {
        background-color: rgba(54, 54, 54, 0.2);
    }
    
    
    div.menu-divider{
        width: 230px;
        margin: 10px;
        border-top: solid 1px #383B3D;
    }

.formSelect{
    height: 30px;
    width: 100%;
    font-size: 12px;
    color: #424242;
    padding-left: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #c2c2c2;
}

md-list-item p{
    font-size: 13px;
}

.formInput{
    height: 32px !important;
    width: 250px !important;
    background: #FFFFFF !important;
    border-radius: 5px !important;
    border: solid 1px #c2c2c2 !important;
    padding-left: 8px !important;
    font-size: 13px;
}

#main-calendar .md-calendar th, td{
    font-size: 14px;
    text-align: left;
    width: 150px;
    padding: 10px 0px;
}

#main-calendar .md-calendar-day-header, .md-calendar-scroll-container, .md-calendar-scroll-mask .md-virtual-repeat-container, .md-orient-vertical, #main-calendar .md-calendar{
    width: 600px;
    height: 500px;
    margin:0px;
    overflow: visible !important;
}

#main-calendar .md-calendar-scroll-mask{
    min-height: 500px !important;
}

.registerLink{
    width: 100%;
  text-align: center;
  font-size: 14px;
  color: #424242;
}






    





